nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
  margin: 1rem 0;
}
.w-100 {
  width: 100%;
}

.ml-auto {
  margin-left: auto;
}

a {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-right: 0.5rem;
}

a:hover {
  background: #0000001a;
}
